version: '3.8'
services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - product-service
      - user-service
  product-service:
    build: ./product-service
    ports:
      - "8081:8081"
  user-service:
    build: ./user-service
    ports:
      - "8082:8082"
